<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Biblioteca</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Biblioteca</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="https://cdn.pixabay.com/photo/2017/05/25/15/08/jogging-2343558_960_720.jpg" alt="">
      
    </ion-card-content>

    <ion-button href="https://library.uniquindio.edu.co/" color="primary">Biblioteca</ion-button>

  </ion-card>
</ion-content>
