<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Programas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Medicina</ion-card-title>
      <ion-card-subtitle>SNIES: 831</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-label> <strong> Titulo que otorga: </strong> Medico (a)</ion-label>
      <br>
      <ion-label> <b>Tipo de formación: </b> Profesional</ion-label>
      <br>
      <ion-label> <b>Nivel Académico: </b> Pregrado</ion-label>
      <br>
      <ion-label><b>Modalidad: </b> Presencial</ion-label>
      <br>
      <ion-label><b>Jornada: </b> Diurna</ion-label>
      <br>
      <ion-label><b>Duración: </b> 13 Semestres</ion-label>
      <br>
      <ion-label><b>Créditos: </b> 241</ion-label>
    </ion-card-content>
    <ion-button href="https://www.uniquindio.edu.co/programas/publicaciones/312/medicina/" color="primary">Conoce Más</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Enfermería</ion-card-title>
      <ion-card-subtitle>SNIES: 20619</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-label> <strong> Titulo que otorga: </strong> Enfermera (o)</ion-label>
      <br>
      <ion-label> <b>Tipo de formación: </b> Profesional</ion-label>
      <br>
      <ion-label> <b>Nivel Académico: </b> Pregrado</ion-label>
      <br>
      <ion-label><b>Modalidad: </b> Presencial</ion-label>
      <br>
      <ion-label><b>Jornada: </b> Diurna</ion-label>
      <br>
      <ion-label><b>Duración: </b> 10 Semestres</ion-label>
      <br>
      <ion-label><b>Créditos: </b> 164</ion-label>
    </ion-card-content>
    <ion-button href="https://www.uniquindio.edu.co/programas/publicaciones/314/enfermeria/" color="primary">Conoce Más</ion-button>
  </ion-card>
 
</ion-content>
