<h5>Hola Mundo</h5>


<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio..</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>PRUEBA</ion-card-title>
      <ion-card-subtitle>Autor</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img src="https://cdn.pixabay.com/photo/2017/05/25/15/08/jogging-2343558_960_720.jpg" alt="">
      Descripción
    </ion-card-content>

    <ion-button color="primary">Leer Más</ion-button>

  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Titulo del blog</ion-card-title>
      <ion-card-subtitle>Autor</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img src="https://cdn.pixabay.com/photo/2017/05/25/15/08/jogging-2343558_960_720.jpg" alt="">
      Descripción
    </ion-card-content>

    <ion-button color="primary">Leer Más</ion-button>

  </ion-card>
</ion-content>